* {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.container {
  width: 100%;
  height: 100%;
}

.main {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: #000000;
}

.main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main p {
  color: #000;
  background-color: #fff;
  text-indent: 5px;
  font-size: 13px;
  padding: 0.3rem;
  cursor: pointer;
  transform: rotate(90deg);
  border-top-right-radius: 5px;
  transform: translate(0, 0);
  display: inline-block;
  
}

.main p span {
  color: #000000;
  font-weight: bold;
}

.over-lay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.30);
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  transition: opacity 0.3s ease-in-out;
}

.over-lay:hover {
  opacity: 0.0;
}